body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #6bbcbe;
}

.circle {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.circle > div {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  margin: 20px;
}

.circle > div:first-child {
  animation: circleMotion 2s infinite;
}

@keyframes circleMotion {
  0% {
    translate-xx: 40px;
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
}

.stick {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 250px;
  height: 200px;
  border: 1px solid #fff;
}

.stick > div {
  width: 20px;
  height: 100px;
  background-color: #fff;
  animation: stickMotion 2s infinite;
  animation-delay: 1s;
  margin: 5px;
}
