body {
  border: 5px solid #00c6ad;
  height: 820px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

/* header */

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-x {
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
}

header > span {
  display: inline-block;
  width: 250px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}

/* current-playing */
.current-playing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.mountain {
  width: 140px;
  height: 140px;
  border: 2px solid #000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbd11;
}

.mountain > .fa-image {
  font-size: 50px;
  color: #fff;
}

.current-playing > .title > span {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 45px;
}

/* button-area */
.button-area {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 40px;
}

.button-area > div {
  border: 2px solid #000;
  border-width: 2px 3px 6px 3px;
}

.button-area > .play {
  width: 160px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play > .fa-play {
  font-size: 20px;
}

.play > h2 {
  margin-left: 10px;
  font-size: 28px;
}

.heart,
.plus {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart > i,
.plus > i {
  font-size: 30px;
}

/* musicPlaylist */

ul {
  list-style: none;
  padding: 0;
}

.musicPlaylist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  padding-top: 10px;
}

.musicPlaylist > li {
  width: 100%;
  height: 80px;
  display: flex;
  justify-items: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

.musicPlaylist > li > .colors {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-right: 15px;
}

.musicPlaylist > li:nth-child(1) > .colors {
  background-color: #f85a2a;
}

.musicPlaylist > li:nth-child(2) > .colors {
  background-color: #ff8bbc;
}

.musicPlaylist > li:nth-child(3) > .colors {
  background-color: #1947e5;
}

.musicPlaylist > li:nth-child(4) > .colors {
  background-color: #00c6ad;
}

.text {
  padding-bottom: 10px;
}

.text > h3 {
  font-size: 25px;
  line-height: 1px;
}
